#include <physical_layouts.dtsi>

/ {
    ergonaut_one_s_layout: ergonaut_one_s_layout {
        compatible = "zmk,physical-layout";
        display-name = "Ergonaut One S";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   95       0     0     0>
            , <&key_physical_attrs 100 100  100   32       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300   34       0     0     0>
            , <&key_physical_attrs 100 100  400   47       0     0     0>
            , <&key_physical_attrs 100 100  700   47       0     0     0>
            , <&key_physical_attrs 100 100  800   34       0     0     0>
            , <&key_physical_attrs 100 100  900    0       0     0     0>
            , <&key_physical_attrs 100 100 1000   32       0     0     0>
            , <&key_physical_attrs 100 100 1100   95       0     0     0>
            , <&key_physical_attrs 100 100    0  195       0     0     0>
            , <&key_physical_attrs 100 100  100  132       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  134       0     0     0>
            , <&key_physical_attrs 100 100  400  147       0     0     0>
            , <&key_physical_attrs 100 100  700  147       0     0     0>
            , <&key_physical_attrs 100 100  800  134       0     0     0>
            , <&key_physical_attrs 100 100  900  100       0     0     0>
            , <&key_physical_attrs 100 100 1000  132       0     0     0>
            , <&key_physical_attrs 100 100 1100  195       0     0     0>
            , <&key_physical_attrs 100 100    0  295       0     0     0>
            , <&key_physical_attrs 100 100  100  232       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  234       0     0     0>
            , <&key_physical_attrs 100 100  400  247       0     0     0>
            , <&key_physical_attrs 100 100  700  247       0     0     0>
            , <&key_physical_attrs 100 100  800  234       0     0     0>
            , <&key_physical_attrs 100 100  900  200       0     0     0>
            , <&key_physical_attrs 100 100 1000  232       0     0     0>
            , <&key_physical_attrs 100 100 1100  295       0     0     0>
            , <&key_physical_attrs 100 100  250  338       0     0     0>
            , <&key_physical_attrs 100 100  361  352    1500   411   402>
            , <&key_physical_attrs 100 100  465  395    3000   515   445>
            , <&key_physical_attrs 100 100  635  395 (-3000)   685   445>
            , <&key_physical_attrs 100 100  739  352 (-1500)   789   402>
            , <&key_physical_attrs 100 100  850  338       0     0     0>
            ;
    };
};
